@import "./header";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//reset html & body content
html,
body {
  background-color: $white;
  color: $black;
  font-family: "Poppins", sans-serif;
  font-weight: 100;

  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

//h1 section
h1.ex2 {
  margin: 35px 30px;
  font-weight: 900;
  font-size: 23px;
}

//catalogue section
.section1 {
  height: 43vh;
  margin: 0px 30px 0px 30px;
  display: flex;
  background-color: $white;
  border-top: 1px solid rgba(211, 211, 211, 0.349);
  border-bottom: 1px solid rgba(211, 211, 211, 0.349);
  .items {
    border-right: 1px solid rgba(211, 211, 211, 0.349);
    flex: 1;
    padding-top: 30px;
    .item1 {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid rgba(211, 211, 211, 0.349);
      //   height: 20vh;
      padding: 30px 0 30px 0;
      margin-right: 25px;
      .img_tramp {
        width: 120px;
        height: 120px;
      }
      .tramptext {
        margin-left: 10px;
        padding-left: 10px;
        flex-grow: 1;
        p {
          line-height: 25px; /* within paragraph */
        }
        .trampdesc {
          font-weight: 600;
          font-size: 10px;
        }
        .slash_amount {
          font-size: 10px;
          color: rgb(66, 78, 78);
        }
        .amount {
          font-size: 14px;
          margin-left: 10px;
          font-weight: bold;
        }
      }
      .qty {
        justify-content: flex-end;
        font-weight: 600;
        font-size: 12px;
      }
    }
    .item2 {
      padding: 30px 0 30px 0;
      margin-right: 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .img_tramp {
        width: 120px;
        height: 120px;
      }
      .tramptext {
        margin-left: 10px;
        padding-left: 10px;
        flex-grow: 1;
        p {
          line-height: 25px; /* within paragraph */
        }
        .trampdesc {
          font-weight: 600;
          font-size: 10px;
        }
        .amount2 {
          font-size: 14px;
          font-weight: bold;
        }
      }
      .qty {
        justify-content: flex-end;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
  .total {
    flex: 1;
    margin: 22px 0px 0px 30px;
    padding-top: 30px;
    line-height: 35px;
    .subtotal {
      display: flex;
      font-weight: 900;
      font-size: 14px;
      .subtotal1 {
        flex-grow: 1;
      }
    }
    .delivery {
      display: flex;
      font-weight: 900;
      font-size: 14px;
      .subtotal1 {
        flex-grow: 1;
      }
    }
    .working {
      display: flex;
      font-weight: 900;
      font-size: 14px;
      .working1 {
        margin-left: 5px;
        font-weight: 500;
        font-size: 12px;
      }
    }
    .finaltotal {
      display: flex;
      border-top: 1px solid rgba(211, 211, 211, 0.349);
      border-bottom: 1px solid rgba(211, 211, 211, 0.349);
      margin-top: 30px;
      padding: 20px 0;
      font-weight: bold;

      .finaltotal1 {
        font-size: 14px;
        flex-grow: 1;
      }
      .finaltotal2 {
        font-weight: bold;
        font-size: 18px;
      }
    }
    .mastercard {
      margin-top: 37px;
      display: flex;
      justify-content: center;
      background-color: rgba(223, 222, 222, 0.349);
      font-weight: 400;
      height: 40px;

      .mastertext {
        font-size: 12px;
        padding-top: 3px;
      }
      .img_master {
        padding-top: 10px;
        margin-left: 20px;
        height: 35px;
        width: 40px;
      }
    }
  }
}

//Newsletter subscription
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  p.ex3 {
    font-size: 15px;
    font-weight: 900;
    line-height: 80px;
    text-align: center;
  }

  button.ex4 {
    width: 100px;
    background-color: $red;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 3px 7px;
    &:hover {
      cursor: pointer;
    }
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
}

//Newwsletter Modal
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(124, 122, 122, 0.966);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -moz-transition: visibility 0s, opacity 0.5s;
  -ms-transition: visibility 0s, opacity 0.5s;
  -o-transition: visibility 0s, opacity 0.5s;
  .heading {
    background-color: #f82d30;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 18px;
    color: $white;
  }
}

.create-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(124, 122, 122, 0.966);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -moz-transition: visibility 0s, opacity 0.5s;
  -ms-transition: visibility 0s, opacity 0.5s;
  -o-transition: visibility 0s, opacity 0.5s;
  .heading {
    background-color: $yellow;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 18px;
    color: $white;
  }
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  padding: 30px;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;

  button {
    width: 200px;
    padding: 13px 30px;
    border-radius: 4px;
    background-color: $red;
    color: $white;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
  }
  label span {
    color: $red;
  }
  .modal-close {
    position: absolute;
    top: -145px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    color: $white;
    font-size: 12px;
  }

  .create-close {
    position: absolute;
    top: -145px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    color: $white;
    font-size: 12px;
  }

  .modal_img {
    padding-top: 10px;
    width: 30px;
    height: 30px;
  }
  .label {
    margin-top: 20px;
    font-weight: bold;
    font-size: 12px;
  }
  input {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid rgb(211, 211, 211);
  }
}

/* Media queries for mobile responsiveness(small phones to tablet): from 0 to 500px */
@media only screen and (max-width: 700px) {
  .wrapper {
    height: 100vh;
  }
  .banner {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 36vh;
  }
  .center {
    color: $white;
    .main-content {
      font-size: 13px;
      text-align: center;
      .main-content1 {
        font-size: 12px;
        font-weight: 400;
      }
      .img_party {
        margin-top: 30px;
        width: 10%;
        height: 10%;
      }
    }
    .ex1 {
      font-size: 11px;
      font-weight: 700;
    }
    button {
      font-size: 10px;
    }
  }

  h1.ex2 {
    margin: 15px 15px;
    font-weight: 900;
    font-size: 20px;
    height: 4vh;
  }

  .section1 {
    height: 44vh;
    display: block;
    margin: 0px 10px 0px 10px;
    border-bottom: none;
    .items {
      border-right: none;
      margin: 0px 5px 0px 5px;
      padding-top: 0px;
      .item1 {
        margin-right: 0px;
        padding: 23px 0px;
        .tramptext {
          padding-right: 40px;
          margin-left: 10px;
          padding-left: 0px;
          .slash_amount {
            font-size: 11px;
          }
          p {
            line-height: 30px; /* within paragraph */
          }
          .trampdesc {
            font-weight: 600;
            font-size: 13px;
            padding-right: 60px;
          }
        }
      }

      .item2 {
        margin-right: 0px;
        padding: 23px 0px;
        border-bottom: 1px solid rgba(211, 211, 211, 0.349);
        .tramptext {
          padding-right: 40px;
          margin-left: 10px;
          padding-left: 0px;
          p {
            line-height: 30px; /* within paragraph */
          }
          .trampdesc {
            font-weight: 600;
            font-size: 13px;
            padding-right: 65px;
          }
        }
      }
    }
    .total {
      margin: 0px 5px 0px 10px;
      padding-top: 10px;
      .finaltotal {
        .finaltotal1 {
          font-size: 15px;
          flex-grow: 1;
        }
        .finaltotal2 {
          font-weight: bold;
          font-size: 20px;
        }
      }
      .mastercard {
        margin-bottom: 20px;
        margin: 20px 0;
      }
    }
  }

  .subscribe {
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
    p.ex3 {
      font-size: 18px;
      line-height: 70px;
      margin-top: 40px;
      border-top: 1px solid rgba(211, 211, 211, 0.349);
    }
    button.ex4 {
      width: 150px;
      margin-bottom: 30px;
    }
  }

  .modal {
    input {
      width: 250px;
    }
  }
}

/* Media queries for mobile responsiveness(small phones to tablet): from 0 to 375px */
@media only screen and (max-width: 375px) {
  .wrapper {
    height: 100vh;
  }
  .banner {
    background-image: url(assest/Images/banner-bg-MOB.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 45vh;
  }
  .center {
    color: $white;
    .main-content {
      padding-top: 5px;
      .main-content1 {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
      .img_party {
        margin-top: 10px;
        width: 15%;
        height: 15%;
      }
    }
    h1 {
      margin-bottom: 0px;
      font-weight: 600;
      font-size: 21px;
    }
    .ex1 {
      font-size: 17px;
      font-weight: 600;
      margin: 10px 0px;
    }
    button {
      font-size: 15px;
      padding: 8px 50px 8px 0px;
    }
  }

  h1.ex2 {
    margin: 15px 15px;
    font-weight: 900;
    font-size: 21px;
    height: 4vh;
  }

  .section1 {
    margin: 0px 10px 0px 10px;
    .items {
      .item1 {
        .img_tramp {
          width: 70px;
          height: 70px;
        }
        .tramptext {
          padding-right: 0px;
          p {
            line-height: 20px;
          }
        }
        .trampdesc {
          padding-right: 0px;
        }
      }
      .item2 {
        .img_tramp {
          width: 70px;
          height: 70px;
        }
        .tramptext {
          padding-right: 0px;
          p {
            line-height: 20px;
          }
        }
        .trampdesc {
          padding-right: 0px;
        }
      }
    }
  }

  .total {
    margin: 0px 5px 0px 10px;
    padding-top: 10px;
    .finaltotal {
      border-top: none;
      .finaltotal1 {
        font-size: 15px;
        flex-grow: 1;
      }
      .finaltotal2 {
        font-weight: bold;
        font-size: 20px;
      }
    }
    .mastercard {
      margin: 10px 0;
    }
  }

  .modal {
    input {
      width: 250px;
    }
  }
}

@media only screen and (max-height: 500px) {
  .wrapper {
    color: black;
  }
}

//iphone 6,7,8 Plus
@media screen and (width: 414px), screen and (height: 736px) {
  .banner {
    height: 42vh;
  }
  .center {
    .main-content {
      margin-top: 10px;
    }
  }
  .subscribe {
    top: 320px;
  }
}

//Galaxy Note 3, Note 2 etc
@media screen and (width: 360px), screen and (height: 640px) {
  .banner {
    height: 47vh;
  }
}

//iphone 4
@media screen and (width: 400px), screen and (height: 480px) {
  .banner {
    height: 60vh;
  }
  h1.ex2 {
    margin: 30px 30px;
    font-size: 15px;
  }
  .center {
    color: $white;
    .main-content {
      .main-content1 {
        font-size: 12px;
      }
    }
    h1 {
      font-size: 17px;
    }
    .ex1 {
      font-size: 12px;
    }
    button {
      font-size: 11px;
    }
  }
  .subscribe {
    top: 400px;
  }
}

//ipad pro screen +
@media screen and (width: 1024px), screen and (height: 1366px) {
  .center {
    color: $white;
    .main-content {
      margin-top: 50px;
      .main-content1 {
        font-size: 15px;
      }
    }
  }
}
